.cart-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .cart-total-items {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .empty-cart-message {
    color: gray;
    text-align: center;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .cart-item-image {
    width: 80px;
    height: auto;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-title {
    font-weight: bold;
  }
  
  .cart-item-price,
  .cart-item-quantity {
    margin: 5px 0;
  }
  
  .cart-item-add,
  .cart-item-remove {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .cart-total-price {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
  }
  .emptyImg{
    height: 256px;
    width: 384px;
    margin: 10px auto;
     
}
.cartEmptyHeading{
    color:#7E22CE;
    font-size: 700;
}
.cartEmptyDescription{
    font-size: 1.2rem;
    color:#000;
    margin:20px 0;
}
.cartEmptyButton{
    background-color:#7E22CE;
    width: 120px;
    height: 37px;
    border-radius: 5px;
    border:none;
    color:#fff;
 }
 .cartEmptyLink{
    color:#fff;
    text-decoration: none;
    padding: 8px;
    font-size: 18px;
    font-weight: 800;
 }
 .cartEmptyContainer{
/* border: 1px solid black; */
text-align: center;
  }
 