footer{
    background-color: #3b0764;
    margin:0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 1rem;
}
.headingPrivacyIcon{
    display: flex;
    gap: 10px;
     padding: 1rem;
}
.headingPrivacyIcon .link{
    color:#fff;

}
.copyRightSection{
    color:#fff;
}