.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 10px;
    list-style: none;
    border: 2px solid green;
    width: 100%; /* Adjusted to be more responsive */
    max-width: 1139px;
    height: calc(100vh - 165px); /* Corrected height calculation */
    overflow-y: auto;
    position: fixed;
    left: 225px;
    top: 163px;
}

.product-grid::-webkit-scrollbar {
    width: 12px;
}

.product-grid::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.product-grid::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.outerProductContainer {
    border: 2px solid red;
    padding: 5px;
    text-align: center;
    width: 220px;
    height: 380px;
    margin-bottom: 1rem;
}

.outerProductContainer img {
    height: 214px;
    width: 210px;
}

.nameAndRatinCotainer {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.productName {
    font-weight: 700;
}

.sizeProduct {
    border: 2px solid blueviolet;
    margin-top: 1.5rem;
}

.ratingAndStarContainer {
    border: 2px solid pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.starIcon {
    color: #facc15;
}

.ratingText {
    font-size: 18px;
}

.productContent {
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.productPrice span {
    font-weight: 800;
}

.productOffPrice {
    color: gray;
    font-weight: 600;
    text-decoration: line-through;
}

.productOff {
    color: green;
    font-weight: 800;
}

.cartButton {
    background-color: #7e22ce;
    color: #fff;
    border: none;
    width: 100%; /* Make button responsive */
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.cartIcon {
    margin-right: 10px;
}

.error-message {
    color: red;
    text-align: center;
    margin: 20px;
    font-size: 1.2em;
}

.inputBox {
    text-align: center;
    margin: 10px 0;
    position: relative; /* Ensure search icon stays in the correct position */
}

.searchIcon {
    position: absolute;
    font-size: 22px;
   margin: 5px;
   color: var(--primaryColor);
   padding-top: 6px;
}
.inputBox .searchBar {
    font-size: 14px;
    font-weight: 900;
    padding: .6rem 2.5rem;
    outline: none;
    box-sizing: border-box;
    /* border: 1px solid gray; */
    border-radius: 4px;
    border: none;
    border: 1px solid gray;
    background-color: var(--lightpurple);
}

.searchBar:focus {
    border: 2px solid var(--primaryColor);
}

.parentComponent {
    border: 2px solid darkcyan;
    display: flex;
    width: 100%;
    overflow-y: auto;
}
