/*  
 .productDetails{
    height: 470px;
    width: 930px;
     margin:2rem auto;
    display: flex;
   box-shadow: 0 3px 8px rgba(0,0,0,.24);
}
.productDetailsLeftPart{
    height: 100%;
    width:25%;
    padding: 1rem;
    box-shadow: 0 0px 2px rgba(0,0,0,.18);

 }
.productDetailsLeftPart img {
    height: 100%;
    width:100%;
 
}
.productDetailsRightPart{
    height: 100%;
    width:75%;
     padding: 10px;
}
.productDetailsRightPart .productHeading{
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
 }
.productDetailsRightPart .productDescription{
    padding:15px 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.ratingBox{
     margin:10px 0;
    display: flex;
    align-items: center;
    gap:10px;
  } 
  .productContent2{
     display: flex;
    width: 40%;;
    gap: 15px;
  }
  .grayLine{
    border:1px solid rgb(165, 162, 162);
    width:70%;
    margin: 20px 0;
  }
  .moreDetailBox{
      padding: 10px 0;;    
  }
   
    .facilitiesIcon2{
        color:#7e22ce;
        padding:0 10px;
    }
    .combineRatingSize{
        display: flex;
         align-items: center;
        gap:20px;
     }
     .link{
        color:#7e22ce;
        text-align: center;
        font-weight: 700;
        font-size: 1.3rem;
           position: relative;
           left: 40%;
    }
    .link:hover{
    text-decoration: underline;
    } */