.profileContainer{
    border:2px solid green;
      height: 400px;
}
.profileHeading{
     font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
 }
  .tabContainer{
   width:490px;
   height: 280px;
   border:2px solid red;
   margin: 2rem auto;
  }
  .ul{
   background-color: #7e22ce;
   list-style: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color:white;
   height: 40px;
  }
  .tab ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .tab ul li {
    margin-right: 20px;

  }
  
  .tab ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    }
  
  .active-tab {
     border-bottom: 2px solid #d8b4fe;
    color:white;
    /* background-color: #d8b4fe; */
   }
   
     .logoutButton{
      background-color: #ff0000;
      color:white;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 8px;
      border-radius: 3px;
      margin: 5px 0;
     }
     .fullName{
      margin: 10px 0;
     }
    