.leftSideFilterContainer {
    height: 74vh;                
    overflow-y: auto;            
    padding: 10px 20px;          
    width: 220px;               
    border: 2px solid red;      
    position: fixed;             
    z-index: 4;                  
    background-color: #fff;      
}

.filterHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;         
}

.filterHeading h2 {
    font-size: 1.3rem;
    margin: 0;                   
}

.categoryContainer {
    border: 2px solid red;       
    display: flex;
    flex-direction: column;     
    gap: 10px;                 
    padding: 10px;               
}

.categoryContainer label {
    color: green;
    font-size: 1rem;             
    display: flex;
    align-items: center;        
}

.categoryContainer label input {
    margin-right: 10px;         
}
